

.wrap{
    padding: 233px 5% 100px 5%;
    background: url(../../public/tolde.jpg)  no-repeat center top #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
gap: 11px;
}



.top{
     padding: 20px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 7px;
    h1{
        font-size: 39px;
    }
}
.contact{
    padding: 20px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 11px;
    h2 { line-height:35px; }
}
.gif{
    
    p {margin: 15px 0 11px 11px }
    a {color: rgb(0, 0, 0); font-size: 13px; padding-top: 33px; }
}



@media only screen and (max-width: 600px) {
    .wrap{
        display: none;

    }
    }   


