.wrap{
    padding: 253px 5% 100px 5%;
    background: url(../../public/tolde.jpg)  no-repeat center top #fff;

    text-align: center;

}

@media only screen and (max-width: 600px) {
    .wrap{
        display: none;

    }
    }   