
html,
body {
  padding: 0;
  margin: 0;
  font-family: Averta, sans-serif;
<<<<<<< HEAD
  background: rgb(248, 248, 248);
=======
  background: rgb(202, 202, 202);
>>>>>>> main
}

a {
  color: inherit;
  text-decoration: none;
}

h1, h2, h3, h4, h5, p {
  margin: 0;
}

* {
  box-sizing: border-box;


}

