@import "./variables.module.scss";
@import "./breakpoints.scss";

.cart {
  padding:200px 10px 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  

  .details {
    display: flex;
    flex-direction: column;
    background-color: #FFF;
    width: 60%;
    padding: 60px;
    box-shadow: 3px 5px 30px #3005052b;
    border-radius: 21px;

    @include xl {
      width: 70%;
    }

    @include lg {
      width: 80%;
    }

    @include ml {
      padding: 60px 30px;
    }

    @include md {
      width: 90%;
    }

    @include sm {
      padding: 60px 20px;
      box-shadow: none;
      border: none;
    }

    .top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0 0 60px;

      @include sm {
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
      }

      h2 {
        color: $darkgrey;
        span {
          color: $pinkred;
        }
      }
      
    }

    .all-items {
      display: flex;
      flex-direction: column;
      gap: 35px;
      padding: 4%;
      border-radius: 21px;
      box-shadow: none;
      border: 1px solid #e3e3e3;
      @include sm {
        padding: 0;
      border: none;
      }

      .item {
        display: flex;
        align-items: center;
        background-color: #f8f8f8;
        border-radius: 7px;

        &_info {
          flex: 3;
          display: flex;
          gap: 20px;
          align-items: center;
          font-size: 13px;

       
          padding: 3%;
          border-radius: 7px;
          margin-right: 4%;
          @include sm {
            flex-direction: column;
            gap: 5px;
          }


          img {
            width: 80px;
            height: 80px;
            border-radius: 5px;
         
          }

          .text {
            display: flex;
            flex-direction: column;
            gap: 5px;
          }
        }

        .quantity {
          flex: 1;
          display: flex;
          align-items: center;
          gap: 9px;
          font-size: 22px;
          font-weight: 700;

          h3  {
            color:#f8395a;
          }
        }

        .price {
          flex: 1;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 0px;

          @include mm {
            display: none;
          }

          p {
            color: rgb(255, 149, 149);
            font-size: 11px ;
          }
        }

        .remove {
          flex: 0.5;
          display: flex;
          justify-content: center;
          padding: 17px 1px;
            border-radius: 50%;
            margin: auto 11px;
            color: #f8395a;
            
          
          
          @include sm {
            padding: 5px;
            border-radius: 50%;
            margin: auto 15px;
           
          }
        }
      }

      .bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 30px;

        a {
          display: flex;
          align-items: center;
          gap: 10px;

          &:hover {
            color: $pinkred
          }
        }

        button {  
          @include buttonStyle;

          &:hover {
            box-shadow: 0 0 10px 3px rgb(98, 98, 98);
          }
        }
      }
      
    }
  }
}
