@import "./variables.module.scss";
@import "./breakpoints.scss";

.footer {
  background: linear-gradient(135deg,  rgba(249,221,142,1) 0%,rgba(242,191,133,1) 5%,rgba(255,139,139,1) 56%,rgba(255,104,104,1) 94%,rgba(214,47,47,1) 100%);
  border-top: 2px solid #ff6400;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; /* Asegúrate de que ocupe todo el ancho */

  @include sm {
    flex-direction: column;
    margin-top: 93px;
  }
}