@import "./variables.module.scss";
@import "./breakpoints.scss";

.promo{
  width: 100vw;
  background: #480000;
  color: white;
  text-align: center;
  font-size: 13px;
  word-spacing: 2px;
 position: fixed;
 padding: 1px;
  z-index: 999999;
}


.navbar {
  margin-top: 0px;
  border-top: 4px solid #000;
  border-bottom: 5px solid 5px solid rgb(255 255 255 / 11%);
  padding: 21px 80px 1px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  backdrop-filter: blur(6px);
  background: rgb(255 181 181 / 59%);
  z-index: 999;
  width: 100vw;

  @include sm {
    padding: 10px;
  }

  img {
   
    cursor: pointer;
  }

.navbar_right_account {
  background: rgb(219 0 0 / 36%);
  border-radius: 5px;
  border: 1px solid black;
  padding: 5px;
  

    @include sm {
      display: flex;
    }
  }






.telefono{    width: auto;
  height: 23px;
  background: transparent;
  color: rgba(0, 0, 0, 0.749);
  
  float: right;
  font-size: 11px;
  letter-spacing: 1px;
  margin-top: 24px;
  margin-left: 11px;}

  &_search {
    border: 1px solid $grey;
    border-radius: 30px;
    height: 40px;
    padding: 0px 20px;
    display: flex;
    gap: 40px;
    align-items: center;
    background-color: rgb(255 255 255 / 83%);

    input {
      border: none;
      outline: none;
      width: 100%;
      border-radius: 11px;
      background: transparent;
    }

    &:hover {
      @include shadow;
    }

    @include lg {
      display: none;
    }
  }

  &_right {
    display: flex;
    align-items: center;
    gap: 20px;

    @include sm {
      gap: 0px;
    }

    .cart {
      margin: 0;
      padding: 6px 15px;
      border-radius: 4px;
      display: flex;
      align-items: center;
      gap: 4px;
      color: #f8f8f8;
      background: #00000082;

      span {
        font-weight: 700;
      }
    }

    &_account {
      display: flex;
      align-items: center;
      border: none;
      display: flex;
      gap: 10px;
      background-color: white;
      cursor: pointer;

      img {
        width: 40px;
      }
    }

    &_accountmenu {
      position: absolute;
      background-color: white;
      right: 60px;
      top: 100px;
      display: flex;
      flex-direction: column;
      width: 200px;
      padding: 10px 0;
      border: 1px solid $lightgrey;
      border-radius: 20px;
      @include shadow;
      z-index: 9999;

      @include sm {
        right: 20px;
      }

      a {
        padding: 8px 15px;
        text-decoration: none;
        color: black;
        font-weight: 700;
        cursor: pointer;

        &:hover {
          color: $pinkred;
          background-color: rgba(217, 213, 213, 0.2);
        }
      }
    }
  }
}
