@import "./variables.module.scss";
@import "./breakpoints.scss";

.admin{background: #f3ff6b;
  a{

    color: white!important;}
  }


.promo{
  width: 100vw;

  
 position: relative;
 padding: 1px;
  z-index: 999999;
}

.promo-container {
 /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f9dd8e+0,f2bf85+5,ff8b8b+56,ff6868+94,d62f2f+100 */
background: linear-gradient(135deg,  rgba(249,221,142,1) 0%,rgba(242,191,133,1) 5%,rgba(255,139,139,1) 56%,rgba(255,104,104,1) 94%,rgba(214,47,47,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

  display: flex;
  justify-content: space-between; 
  align-items: center; 
  position: fixed; 
  z-index: 999999;
  width: 100%; 
  padding: 3px 2%; 
  color: white;
  text-align: left;
  font-size: 13px;
  word-spacing: 2px;
  border-top:  2px solid #ff6400;
  border-bottom: 1px solid #ffffffe3;

 

  p {
    margin: 0;
    line-height: 19px;
  }
  
  
  .call {
    color: rgb(255, 255, 255);
    display: flex;
    @media only screen and (max-width: 600px) {
    a {
      color: #945e5e;
     }
    }
  }
  
  .derecha {
    margin-right: 11%;
    @media only screen and (max-width: 977px) {
      display: none ;
    }
  }
  
 
  
  @media only screen and (max-width: 600px) {
    flex-direction: column;
    align-items: center;
    padding:2px  0px; 
    font-size: 12px;
 
   
  }

}



.person{
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.489);
  border: 1px solid #ffffff6d;
  padding: 3px 5px;
  @media only screen and (max-width: 600px) {
    background-color: #000000a3;
  }
}



.navbar {
  margin-top: 0px;
  border-top: 2px solid #ffa714;
  border-bottom: 3px solid #ffffff5c;
  padding: 35px 80px 7px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  backdrop-filter: blur(6px);
  background: rgb(255 139 139 / 25%);
  z-index: 999;
  width: 100%;

  img {    cursor: pointer;}

  @media only screen and (max-width: 600px) {
    padding: 1% 1% 1% 5%;
    background: #ff00001f;
    backdrop-filter: blur(4px);
    margin-top: 46px;
    #hamburger{
      display: none;
    }
    img{
      width: 81px;
      height: auto;
    }
   }



.navbar_right_account {
  background: rgba(219, 0, 0, 0.0);
  border-radius: 5px;
  // border: 1px solid rgb(0, 0, 0);
   padding: 3px;  
    @include sm {
      display: flex;
      padding-left: 10px;
    }
  }



.navbar_search_input{
  color: #F90!important;
}


.telefono{    width: auto;
  height: 23px;
  background: transparent;
  color: rgba(0, 0, 0, 0.749);
  
  float: right;
  font-size: 11px;
  letter-spacing: 1px;
  margin-top: 24px;
  margin-left: 11px;}

  &_search {
    width: 455px;
    border-radius: 30px;
    height: 40px;
    padding: 0px 20px;
    display: flex;
    gap: 40px;
    align-items: center;
    background-color: rgb(255 255 255 / 73%);
    box-shadow: 0 3px 10px 2px rgb(0 0 0 / 10%);
    input {
      border: none;
      outline: none;
      width: 100%;
      border-radius: 11px;
      background: transparent;
      color: #7c0000;
    }

    &:hover {
      @include shadow;
    }

    @include lg {
      display: none;
    }
  }

  &_right {
    display: flex;
    align-items: center;
    gap: 20px;

    @include sm {
      gap: 0px;
    }

    .cart {
      margin: 0;
      padding: 6px 15px;
      border-radius: 4px;
      display: flex;
      align-items: center;
      gap: 4px;
      color: #f8f8f8;
      background: rgb(0 0 0 / 52%);

      span {
        font-weight: 700;
      }
      @media only screen and (max-width: 600px) {
        background-color: #000000a3 ;
        padding: 5px;
      }

    }

    &_account {
      display: flex;
      align-items: center;
      border: none;
      display: flex;
      gap: 10px;
      background-color: white;
      cursor: pointer;

      img {
        width: 40px;
      }
     
    }

    &_accountmenu {
      position: absolute;
      background-color: rgba(255, 255, 255, 0.842);
      backdrop-filter: blur(6px);
      right: 37px;
      top: 113px;
      display: flex;
      flex-direction: column; 
      width: 200px;
      padding: 10px 0;
      border: 1px solid $lightgrey;
      border-radius: 20px;
      z-index: 9999;
      
      @include shadow;

      @include sm {
        right: 20px;
        top: 60px;
      }

      a {
        padding: 13px 15px;
        text-decoration: none;
        color: black;
        font-weight: 700;
        cursor: pointer;
        display: flex;
    align-items: center;


        &:hover {
          color: $pinkred;
          background-color: rgba(217, 213, 213, 0.2);
        }
      }
    }
  }

  
}


