@import "./breakpoints.scss";
@import "./variables.module.scss";

.bajar {
  padding-top: 190px;
}

.noItem{
  margin-top: 10px;
  text-align: center;
  font-size: 20px;
  color: red;

}

.title-list {
  margin: 40px 100px;
  color: $blue;

  @include sm {
    margin: 40px 50px;
  }
}

