@import "./variables.module.scss";

.icon{z-index: 99!important;}
.work-card {
  position: relative;
  cursor: pointer;
  padding: 13px 13px 10px 13px;
  border-radius: 10px;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffdbdb+0,ffdbdb+12,ffefef+93,fff2f2+100 */
background: linear-gradient(45deg,  rgba(255,219,219,1) 0%,rgba(255,219,219,1) 12%,rgba(255,239,239,1) 93%,rgba(255,242,242,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

  box-shadow: 5px 12px 15px rgb(0 0 0 / 18%);
  border: 1px solid white;



  .slider-container {
    width: 360px;
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow: 3px 2px 10px #0000001c;

    .slider {
      display: flex;
      transition: transform 0.5s ease;

      .slide {
        position: relative;
        flex: 0 0 100%;
        width: 100%;
        height: 270px;
        display: flex;
        align-items: center;

        img {
          width: 100%;
          height: 100%;
        }

        .prev-button,
        .next-button {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          padding: 6px;
          border-radius: 50%;
          border: none;
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: rgba(255, 255, 255, 0.7);
          z-index: 999;

          &:hover {
            background-color: white;
          }
        }

        .prev-button {
          left: 10px;
        }

        .next-button {
          right: 10px;
        }
      }
    }
  }

  .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0;

    h3 {
      font-size: 18px;
      margin-bottom: 5px;
    }

    .creator {
      display: flex;
      align-items: center;
      gap: 5px;
      
      img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
      }

      span {
        font-size: 15px;
        font-weight: 600;
      }
    }

    .price {
      background: #ffffff;
      padding: 10px;
      border-radius: 10px;
      font-weight: 700;
      font-size: 17px;
      box-shadow: 1px 1px 5px #0000;
      color: #ff4040;
    }
  }

  .icon {
    position: absolute;
    right: 20px;
    top: 20px;
    border: none;
    font-size: 20px;
    cursor: pointer;
    z-index: 999;
  }
}
