@import "./variables.module.scss";
@import "./breakpoints.scss";

.work-list {
  padding: 0 40px 71px 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 51px;
  column-gap: 41px;





  @include lg {
    padding:  120px;
   
  }

  @include mm {
    padding: 75px 40px;
  }

  @include sm {
    padding: 69px 4px;
  }
}
